*{

    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

a:active{
     color: firebrick;
    


}

p{

    color: red;
}

p:hover{

    color: blue;
}

input:checked{
    width: 100px;
    height: 100px;
}

input:focus{
    width: 100px;
    height: 100px;
    outline: none;

}

span:first-of-type{
    color: cadetblue;
}

.container:not(p){
    color: darkblue;
}


.container:not(.container:not(.excluido)) 
/* pode fazer como está acima também */
/* nas pseudoclasses posso fazer direto por exemplo "div:hover" ou "div::" ou .container:focus */

/* li:nth-child(1) */ 